---
import Layout from '../layouts/Layout.astro';
import LoginForm from '../components/LoginForm.astro';
import config from '../pages/api/config.json';
import '../styles/global.css';
import '../styles/login.css';


const pageTitle = 'Login';
const pageDescription = 'Sign in to your account';
---

<Layout title={pageTitle} description={pageDescription}>
  <main class="login-page">
    <div class="container">
      <h1>Welcome Back</h1>
      <p class="subtitle">Please sign in to continue</p>
      <LoginForm client:load formConfig={config.formConfig} />
    </div>
  </main>
</Layout>
